<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body style="text-align: center; padding-top: 50px; background-color: #87CEEB; list-style-position: inside;">
    <form action="/cars" method="post">
    <h1>Add details about your car!</h1>
      <label for="name">Add the cars name</label>
      <input id="name" name="name" type="text"><br>
      <label for="color">Add the cars color</label>
      <input id="color" name="color" type="text"><br>
      <label for="age">Add the cars age</label>
      <input id="age" name="age" type="text"><br>
      <label for="miles">Add the cars miles</label>
      <input id="miles" name="miles" type="text"><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>